html, body, h1, #map, #splash {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
h1, #map {
	display: flex;
	align-content: center; 
	position: fixed;
}
.ui-mobile-viewport h1 {
	font-size: 24px;
	bottom: calc(100% - 45px);
	background-color: #000;
	color: #fff;
	margin: 0;
	padding: 8px 0 0 80px;
	z-index: 1;
}
h1 img {
	position: fixed;
	top: 3px;
	left: 3px;
	height: 24px;
	width: 71px;
	margin: 8px 0 0 0;
	cursor: pointer;
}
#map {
	position: fixed;
	left: 0;
	bottom: 0;
	top: 45px;
}
#map {
	width: calc(100% - 320px);
}
#panel {
    position: fixed;
	width: 310px;
	top: 45px;
	right: 0;
	bottom: 0;	
    z-index: 1000;
	box-shadow: 5px 10px 20px 5px rgba(0,0,0,.2);
	padding: 0;
	background-color: white;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: auto;
}
#record-count {
	position: fixed;
	top: 2px;
	right: 5px;
	z-index: 1000;
	text-align: right;
	margin: 0;
	width: 185px;
}
#record-count, #record-count span {
	color: #fff;
}
#record-count a {
	float: right;
	margin-left: 5px;
	opacity: .5;
	cursor: pointer;
}
#record-count a img {
	height: 40px;
}
#record-count a:hover {
	opacity: 1;
}
#soda-url textarea {
    font-family: courier;
}
#soda-url .tip {
	display: none;
	position: sticky;
	float: left;
	margin: 10px 0 -75px;
	z-index: 2000;
}
#soda-url .tip div {
	font-weight: bold;
	color: #fff;
	background-color: #000;
	border-radius: 3px;
	margin: 2px;
	padding: 5px;
}
#date-ranges div.fields, #soda-url textarea {
	border: 1px solid rgb(221,221,221);
	border-radius: 3px;
	background-color: #f6f6f6;
}
#date-ranges div.field {
	padding: 0 10px;
}
#date-ranges div.field:first-of-type {
	border-bottom: 1px solid rgb(221,221,221);
}
#date-ranges label, #date-ranges div.ui-input-text {
	display: inline-block;
}
#date-ranges div.ui-input-text {
}
#date-ranges label {
	width: 20%;
	font-weight: bold;
}

div.legend {
	min-height: 175px;
}
div.legend caption {
	font-weight: bold;
}
.cd-leg .leg-bin img {
	border: 3px solid rgba(255,255,255,0.2);
}
.cd-leg .leg-bin-0 img {
	background-color: rgba(254,237,222,.4);
}
.cd-leg .leg-bin-1 img {
	background-color: rgba(253,190,133,.4);
}
.cd-leg .leg-bin-2 img {
	background-color: rgba(253,141,60,.4);
}
.cd-leg .leg-bin-3 img {
	background-color: rgba(230,85,13,.4);
}
.cd-leg .leg-bin-4 img {
	background-color: rgba(166,54,3,.4);
}
table.leg-point.sr-leg td.leg-bin img {
	border-radius: 50%;
}
table.leg-point.sr-leg td.leg-bin-0 img {
	width: 4px;
	height: 4px;
	border: 1px solid rgba(166,54,3,.3);
	background-color: rgba(254,237,222,.4);
}
table.leg-point.sr-leg td.leg-bin-1 img {
	width: 8px;
	height: 8px;
	border: 1px solid rgba(166,54,3,.3);
	background-color: rgba(253,190,133,.4);
}
table.leg-point.sr-leg td.leg-bin-2 img {
	width: 14px;
	height: 14px;
	border: 1px solid rgba(166,54,3,.3);
	background-color: rgba(253,141,60,.4);
}
table.leg-point.sr-leg td.leg-bin-3 img {
	width: 20px;
	height: 20px;
	border: 1px solid rgba(166,54,3,.3);
	background-color: rgba(230,85,13,.4);
}
table.leg-point.sr-leg td.leg-bin-4 img {
	width: 32px;
	height: 32px;
	border: 1px solid rgba(166,54,3,.3);
	background-color: rgba(166,54,3,.4);
}
#loading {
	position: fixed;
	z-index: 2000;
	left: 0;
	top: 45px;
	right: 0;
	bottom: 0;
	opacity: .2;
    cursor: wait;
	background-image: url(../img/loading.svg);
}
#list-detail h3 {
	text-transform: capitalize;
}
.cd-info {
	border-collapse: collapse;
}
.cd-info thead tr {
	background-color: #f6f6f6;
}
.cd-info th, .cd-info td {
	border: 1px solid rgb(221,221,221);
	padding: 3px;
}
.cd-info th {
	border-top: none;
}
.cd-info tr td:first-of-type {
	text-align: right;
}
.cd-info tr td:last-of-type {
	cursor: pointer;
}
.cd-info a {
	font-weight: normal;
}
.cd-info tr td:last-of-type:hover {
	color: #fff;
	background-color: #000;
}
.cd-info td:hover a {
	color: #fff;
}
.list p, .detail p {
	margin: 0;
}
.list .ui-collapsible-content, .detail .ui-collapsible-content {
	padding: 0;
}
.list .ui-collapsible-content {
	border: none;
}
.detail .sr {
	padding: 5px;
	border-bottom: 1px solid rgb(221,221,221);
}
.detail .sr-num {
    background-color: rgba(0,0,0,.1);
}
.detail .sr.odd-row {
    background-color: rgba(0,0,0,.1);
}
.detail .sr.odd-row .sr-num  {
    background-color: #fff;
}
.detail .sr b {
	margin: 5px 5px 0 0;
	text-transform: capitalize;
}
.detail .sr .more {
	display: none;
}