html, body, #map, #menu, #info {
  position: fixed;
}
html, body, #map {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}
.ol-zoom, #menu {
  top: 5px;
  border-radius: 6px;
  background-color: rgba(255,255,255,.4);
}
.ol-zoom {
  left: 5px;
}
#menu {
  right: 5px;
  width: 205px;
  padding: 3px;
}
#menu .content {
  background-color: #fff;
}
#info {
  right: 5px;
  bottom: 5px;
  text-align: right;
}
#info a, .name, .temp {
  font-weight: bold;
}
#info a {
  display: block;
}
#filter .chc-chc label:before {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  background-repeat: no-repeat;
  background-size: 20px;
  margin: 5px 7px 0 -3px;
}
label[for="chc-chc-0"]:before {
  background-color: rgba(255,0,0,.4);
  border: 2px solid rgb(255,0,0);
}
label[for="chc-chc-1"]:before {
  background-color: rgba(255,165,0,.4);
  border: 2px solid rgb(255,165,0);
}
label[for="chc-chc-2"]:before {
  background-color: rgba(0,255,0,.4);
  border: 2px solid rgb(0,255,0);
}
label[for="chc-chc-3"]:before {
  background-color: rgba(0,0,255,.4);
  border: 2px solid rgb(0,0,255);
}
.pop>.content {
  width: 250px;
  padding: 5px;
}
.pop .temp {
  width: 220px;
}
.temp {
  color: #fff;
  padding: 2px;
}
.temp.really-hot {
  background-color: rgb(255,0,0);
}
.temp.hot {
  background-color: rgb(255,165,0);
  color: #000;
}
.temp.warm {
  background-color: rgb(0,255,0);
  color: #000;
}
.temp.luke-warm {
  background-color: rgb(0,0,255);
}
.ol-zoom button {
  height: 36px;
  width: 36px;
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 5px;
}
.ol-zoom .ol-zoom-in, .ol-zoom .ol-zoom-out, .clps button {
  background-color: rgba(0,0,0,.6);
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin: 0;
}
.ol-zoom button:hover, .clps button:hover {
  background-color: #000;
}
.clps button:before, .clps button:hover:before {
  background-color: transparent;
  margin-right: 5px;
}
.chc {
  width: calc(100% - 2px);
}
