html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body * {
  font-size: 14px;
}
#map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.photo,
.save-csv,
.load-csv {
  position: fixed;
  right: 3px;
  background-color: rgba(0,0,0,.55);
  text-align: center;
  color: #fff;
  width: 105px;
}
.photo {
  top: 3px;
}
.save-csv {
  top: 40px;
}
.load-csv {
  top: 77px;
}
.photo:hover,
.save-csv:hover,
.load-csv:hover {
  background-color: #000;
}
.failed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 50%;
  background-color: rgba(255,255,255,.9);
  overflow: scroll;
  display: none;
  z-index: 2000;
}
.failed table {
  border-collapse: collapse;
  margin-bottom: 40px;
}
.failed th, .failed td {
  padding: 3px;
  border: 1px solid gray;
  white-space: nowrap;
}
.failed .address.geocoded,
.failed .borough.geocoded,
.failed .facility_type.valid,
.failed .testing_type.valid {
  background-color: rgba(0,255,0,0.6);
}
.failed .address.not-geocoded,
.failed .borough.not-geocoded,
.failed .facility_type.invalid,
.failed .testing_type.invalid {
  padding: 0;
  background-color: pink;
}
.failed input,
.failed select {
  padding: 3px;
  border: none;
  height: 20px;
  background-color: transparent;
}
.failed .address button {
  float: right;
  border-radius: 50%;
  background-color: rgba(0,0,0,.55);
}
.failed .address button {
  border-radius: 50%;
  background-color: rgba(0,0,0,.55);
  color: #fff;
  border: none;
  width: 20px;
  height: 20px;
  margin: 3px;
}
.failed .address button:hover {
  background-color: #000;
}
td.address {
  min-width: 200px;
}
.failed .address button.pressed {
  background-color: #000;
}