html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.f-tip, .f-tip *, .srch * {
  color: #085095;
}
.f-tip {
  font-weight: bold;
}
.btn-sq, .btn-rnd, .srch ul li:hover{
  background-color:rgba(39, 75, 114,.7);
}
.btn-sq:hover, .btn-rnd:hover {
  background-color:#274b72;
}
.srch input {
  border-color:#274b72;
}
.btn-geo {
  display: none;
}