html, body, #map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.f-tip, .sta-name, .srch * {
  color: #085095;
}
.f-tip, .sta-name {
  font-weight: bold;
}
.btn {
	padding-left: 5px;
	padding-right: 5px;
	color: #fff;
	display: inline-block;
	min-width: 70px;
	margin-left: 3px;
}
.btn, .btn-sq, .btn-rnd, .srch ul li:hover{
  background-color:rgba(39, 75, 114,.7);
}
.btn:hover, .btn-sq:hover, .btn-rnd:hover, #sectors a.btn.focus {
  background-color:#274b72;
}
.srch input {
  border-color:#274b72;
}
.btn-geo {
  display: none;
}
div.sta-icon {
	display: inline-block;
	font-weight: bold;
	text-align: center;
	padding: 2px;
  width: 21px;
  height: 21px;
	margin-right: 3px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 16px;
  color: #fff;
}
div.sta-icon div {
	color: #fff;
}
.sta-1, .sta-2, .sta-3 {
	background-color: #ff3433;
}
.sta-4, .sta-5, .sta-6 {
	background-color: #009d33;
}
.sta-7 {
	background-color: #c801cc;
}
.sta-A, .sta-C, .sta-E {
	background-color: #0e689a;
}
.sta-B, .sta-D, .sta-F {
	background-color: #fa9705;
}
.sta-G {
	background-color: #98cd01;
}
div.sta-J, div.sta-M, div.sta-Z {
	background-color: #9d6400;
}
.sta-L, .sta-S {
	background-color: #999999;
}
div.sta-N, div.sta-Q, div.sta-R, div.sta-W {
	background-color: #ffff0c;
  color: #000;
}
#sectors {
	position: fixed;
	right: 3px;
	bottom: -1px;
}
.pop>.content {
	width: 285px;
}